body {
  margin: 0;
  padding: 0;
}
.origami {
  margin: auto;
  margin-top:50px;
  overflow: hidden;
  width:808px;
}
.origami .sheet {
  border: 1px solid white;
  float: left;
  height: 150px;
  position: relative;
  width:200px;
  overflow: hidden;
}
.origami .sheet img{
  width:100%;
  /* opacity:0;*/
  -webkit-transition:opacity 0.5s;
}
.origami .sheet .hover {
  border: 0;
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.origami .sheet .clone{
  background:black;
  overflow:hidden;
  position: absolute;
  top: 0px;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .4s ease-in-out;
}
.origami .sheet .clone img{
  width: 100%;
  opacity:0.8;
}
.origami .sheet.topfolding:hover .clone, .origami .sheet.bottomfolding:hover .clone, .origami .sheet.rightfolding:hover .clone, .origami .sheet.leftfolding:hover .clone, .origami .sheet.toprightfolding:hover .clone, .origami .sheet.topleftfolding:hover .clone, .origami .sheet.bottomrightfolding:hover .clone, .origami .sheet.bottomleftfolding:hover .clone{
  -webkit-transition: all .4s ease-in-out;
  -webkit-transform: rotate3d(0,0,0,0deg) !important;
}
.origami .sheet .clone-limite{
  position: absolute;
  overflow: hidden;
}
.origami .sheet .clone-rotate{
  position: absolute;
}

/* customize folding */

/* topleftfolding */
.origami .sheet.topleftfolding .hover {
  border-bottom: 150px solid transparent;
  border-left: 200px solid white;
}
.origami .sheet.topleftfolding .clone-limite{
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 100%;
}
.origami .sheet.topleftfolding .clone-rotate{
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 100%;
}

/* toprightfolding */
.origami .sheet.toprightfolding .hover {
  border-bottom: 150px solid transparent;
  border-right: 200px solid white;
}
.origami .sheet.toprightfolding .clone-limite{
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 100%;
}
.origami .sheet.toprightfolding .clone-rotate{
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 100%;
}

/* bottomrightfolding */
.origami .sheet.bottomrightfolding .hover {
  border-top: 150px solid transparent;
  border-right: 200px solid white;
}
.origami .sheet.bottomrightfolding .clone-limite{
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 0%;
}
.origami .sheet.bottomrightfolding .clone-rotate{
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 0%;
}

/* bottomleftfolding */
.origami .sheet.bottomleftfolding .hover {
  border-top: 150px solid transparent;
  border-left: 200px solid white;
}
.origami .sheet.bottomleftfolding .clone-limite{
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 0%;
}
.origami .sheet.bottomleftfolding .clone-rotate{
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 0%;
}

/* leftfolding */
.origami .sheet.leftfolding .hover {
  border-left: 100px solid white;
  height: 100%;
}
.origami .sheet.leftfolding .clone-limite{
  top: 0;
  left: 0;
}
.origami .sheet.leftfolding .clone-rotate{
  top: 0;
  left: 0;
}

/* rightfolding */
.origami .sheet.rightfolding .hover {
  border-right: 100px solid white;
  height: 100%;
  width: 50%;
}
.origami .sheet.rightfolding .clone-limite{
  top: 0;
  left: 0;
  margin-left:50%;
}
.origami .sheet.rightfolding .clone-rotate{
  top: 0;
  right: 0;
}

/* topfolding */
.origami .sheet.topfolding .hover {
  height: 50%;
  width: 100%;
  background: white;
}
.origami .sheet.topfolding .clone-limite{
  top: 0;
  left: 0;
  height:50%;
}
.origami .sheet.topfolding .clone-rotate{
  top: 0;
  left: 0;
}

/* bottomfolding */
.origami .sheet.bottomfolding .hover {
  height: 50%;
  width: 100%;
  background: white;
  top: 50%;
}
.origami .sheet.bottomfolding .clone-limite{
  bottom: 0;
  left: 0;
}
.origami .sheet.bottomfolding .clone-rotate{
  bottom: 0;
  left: 0;
}
